<h1>{{title}}</h1>
<nav>
  <button routerLink='/home' mat-raised-button color="primary">Home</button>
  <button routerLink='/films' mat-raised-button color="primary">Films</button>
  <button routerLink='/people' mat-raised-button color="primary">People</button>
  <button routerLink='/planets' mat-raised-button color="primary">Planets</button>
  <button routerLink='/species' mat-raised-button color="primary">Species</button>
  <button routerLink='/starships' mat-raised-button color="primary">Starships</button>
  <button routerLink='/vehicles' mat-raised-button color="primary">Vehicles</button>
</nav>
<router-outlet></router-outlet>