/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.data-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -28px;
}

.data-item {
  width: 33%;
  box-sizing: border-box;
  padding: 10px;
}
li {
  list-style-type: none;
}
dialog {
  z-index: 2;
  width: 90%;
  box-sizing: border-box;
  padding: 10px;
  overflow: scroll;
}
nav {
  display: flex;
}
button {
  width: 100%;
}
nav button {
  margin: 20px
}
h1 {
  text-align: center;
}